* {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  #index_panel, .article {
    width: 66vw;
    margin: 10vh auto 10vh;
  }
}

@media screen and (max-width: 600px) {
  #index_panel, .article {
    width: 88vw;
    margin: 10vh auto 10vh;
  }
}

#index_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#index_panel li {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
}

#index_panel a {
  margin-left: 50px;
  text-decoration: none;
  font-size: 23px;
  color: black;
}

#index_panel a:hover {
  text-decoration: underline;
}
